body{
    margin: 0px;
}
ul{
    list-style:none;
    padding: 0px;
    margin: 0px;
}
.navbar{
    display:flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(156, 238, 231);
    border-bottom: 1px solid greenyellow;
    box-shadow: 1px 1px  gray;
}
.navbar>li{
    display: flex;
    align-items: center;
}
.logo{
    height: 80px;
}
.mainbutton{

    background-color: rgb(218, 116, 243);
    color: white;
    border-radius: 10px;
    padding: 5px 10px; 
    font-weight: bolder; 
    
}
.mainbutton:hover{
    cursor: pointer;
    box-shadow: 2px 2px yellow;
    transform: scale(1.1);
}
.buscar{
    background-color: white;
    border: 1px solid gray;
    padding: 4px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    justify-content:space-between;

}
.buscar:focus-within{
    border: 1px solid blue;

}
.buscar > input{
    outline: none;
    border: 0px;
    

}
.agrandar:hover{
    transform: scale(1.1);
    color: dimgray;
}
.mainsection{
    display: flex;
    
    justify-content: space-between;
    border: 2px solid green;
    padding: 10px;
    border-radius: 10px;
    background-color: bisque;
}
.contenedorimagen{
    width: 240px;
    height: 350px;
    display: flex;
    
    
}
.contenedorimagen>img{
    object-fit: cover;
    width: 100%;
}
.cardcontainer{
    display: flex;
    
    
}
.card{
    margin: 10px;
}